In [3]:
#Importing essential packages
#Importing essential packages
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [4]:
%pip install seaborn

In [5]:
import seaborn as sns

In [6]:

df = pd.read_csv('car_data.csv')

In [7]:
df.head()

,Car_Name,Year,Selling_Price,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner
0,ritz,2014,3.35,5.59,27000,Petrol,Dealer,Manual,0
1,sx4,2013,4.75,9.54,43000,Diesel,Dealer,Manual,0
2,ciaz,2017,7.25,9.85,6900,Petrol,Dealer,Manual,0
3,wagon r,2011,2.85,4.15,5200,Petrol,Dealer,Manual,0
4,swift,2014,4.60,6.87,42450,Diesel,Dealer,Manual,0

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 301 entries, 0 to 300
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Car_Name       301 non-null    object
 1   Year           301 non-null    int64
 2   Selling_Price  301 non-null    float64
 3   Present_Price  301 non-null    float64
 4   Kms_Driven     301 non-null    int64
 5   Fuel_Type      301 non-null    object
 6   Seller_Type    301 non-null    object
 7   Transmission   301 non-null    object
 8   Owner          301 non-null    int64
dtypes: float64(2), int64(3), object(4)
memory usage: 16.5+ KB

In [9]:
# Create a depreciation column
df["Depreciation"] = df["Present_Price"] - df["Selling_Price"]

# Extract brand from Car_Name
df["Brand"] = df["Car_Name"].apply(lambda x: x.split()[0])

In [10]:
# 1. Count of single-owner vehicles
df[df["Owner"] == 0].shape[0]

290

In [13]:
# 2. Most and least cost depreciated vehicle
df.loc[df["Depreciation"].idxmax(), ["Car_Name", "Depreciation"]]
df.loc[df["Depreciation"].idxmin(), ["Car_Name", "Depreciation"]]

Car_Name        Honda Activa 4G
Depreciation               0.03
Name: 155, dtype: object

In [14]:
# 3. Brands less affected by depreciation
df.groupby("Brand")["Depreciation"].mean().sort_values().head(5)

Brand
UM          0.120000
Activa      0.183333
TVS         0.242750
Mahindra    0.250000
Yamaha      0.258750
Name: Depreciation, dtype: float64

In [15]:
# 4. Factors affecting depreciation (correlation)
df[["Depreciation", "Year", "Kms_Driven", "Owner"]].corr()

              Depreciation      Year  Kms_Driven     Owner
Depreciation      1.000000 -0.333746    0.333832  0.107415
Year             -0.333746  1.000000   -0.524342 -0.182104
Kms_Driven        0.333832 -0.524342    1.000000  0.089216
Owner             0.107415 -0.182104    0.089216  1.000000

In [16]:
# 5. Selling Price correlation with Age and Distance
df[["Selling_Price", "Year", "Kms_Driven"]].corr()

               Selling_Price      Year  Kms_Driven
Selling_Price       1.000000  0.236141    0.029187
Year                0.236141  1.000000   -0.524342
Kms_Driven          0.029187 -0.524342    1.000000

In [17]:
# 6. Count of vehicles manufactured after 2014
df[df["Year"] > 2014].shape[0]

147

In [18]:
# 7. Filtering two-wheelers
bike_keywords = ["bike", "scooter", "motorcycle", "duke", "bullet"]
two_wheelers = df[df["Car_Name"].str.contains("|".join(bike_keywords), case=False, na=False)]
two_wheelers.shape[0]

2

In [19]:
# 8. Oldest and newest bike
two_wheelers.nsmallest(1, "Year")[["Car_Name", "Year"]]
two_wheelers.nlargest(1, "Year")[["Car_Name", "Year"]]

                     Car_Name  Year
122  Royal Enfield Bullet 350  2016

In [20]:
# 9. Manufacturing year range
df["Year"].min(), df["Year"].max()

(np.int64(2003), np.int64(2018))

In [21]:

# 10. Lowest and highest selling price
df["Selling_Price"].min(), df["Selling_Price"].max()

(np.float64(0.1), np.float64(35.0))

In [22]:
# 11. Total records count
df.shape[0]

301

In [23]:
# 12. Checking missing values
df.isnull().sum().sum()

np.int64(0)

In [24]:
# 13. Count of different vehicles
df["Car_Name"].nunique()

98

In [25]:
# 14. Most sold vehicle
df["Car_Name"].value_counts().idxmax()

'city'

In [26]:
# 15. Checking for CNG vehicles
df[df["Fuel_Type"] == "CNG"].shape[0]

2

In [27]:
# 16. Vehicles sold by individuals
df[df["Seller_Type"] == "Individual"].shape[0]

106

In [28]:
# 17. Automatic transmission vehicles count
df[df["Transmission"] == "Automatic"].shape[0]

40

In [29]:
# 18. Most sold bike
two_wheelers["Car_Name"].value_counts().idxmax() if not two_wheelers.empty else None

'KTM 390 Duke '

In [37]:
# 19. Identifying two-wheeler deals that exceeded expectations
bike_keywords = ["bike", "scooter", "motorcycle", "duke", "bullet"]
two_wheelers = df[df["Car_Name"].str.contains("|".join(bike_keywords), case=False, na=False)]
high_selling_bikes = two_wheelers[two_wheelers["Selling_Price"] > two_wheelers["Present_Price"] * 0.8]  # Checking if selling price is unusually high
high_selling_bikes

,Car_Name,Year,Selling_Price,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner,Depreciation,Brand
122,Royal Enfield Bullet 350,2016,1.05,1.17,6000,Petrol,Individual,Manual,0,0.12,Royal

In [38]:
# 20. Possible reasons for high-priced two-wheeler deals
# Factors like low mileage, recent model, brand value, or modifications might contribute.
high_selling_bikes.describe()

         Year  Selling_Price  Present_Price  Kms_Driven  Owner  Depreciation
count     1.0           1.00           1.00         1.0    1.0          1.00
mean   2016.0           1.05           1.17      6000.0    0.0          0.12
std       NaN            NaN            NaN         NaN    NaN           NaN
min    2016.0           1.05           1.17      6000.0    0.0          0.12
25%    2016.0           1.05           1.17      6000.0    0.0          0.12
50%    2016.0           1.05           1.17      6000.0    0.0          0.12
75%    2016.0           1.05           1.17      6000.0    0.0          0.12
max    2016.0           1.05           1.17      6000.0    0.0          0.12

In [39]:
# 21. Filtering only cars
cars = df[~df["Car_Name"].str.contains("|".join(bike_keywords), case=False, na=False)]
cars.shape[0]

299

In [40]:
# 22. Oldest car sold
cars.nsmallest(1, "Year")[["Car_Name", "Year"]]

   Car_Name  Year
37      800  2003

In [41]:
# 23. Newest car sold
cars.nlargest(1, "Year")[["Car_Name", "Year"]]

        Car_Name  Year
5  vitara brezza  2018

In [42]:
# 24. Identifying car deals that exceeded expectations
high_selling_cars = cars[cars["Selling_Price"] > cars["Present_Price"] * 0.8]
high_selling_cars

,Car_Name,Year,Selling_Price,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner,Depreciation,Brand
5,vitara brezza,2018,9.25,9.83,2071,Diesel,Dealer,Manual,0,0.58,vitara
6,ciaz,2015,6.75,8.12,18796,Petrol,Dealer,Manual,0,1.37,ciaz
8,ciaz,2016,8.75,8.89,20273,Diesel,Dealer,Manual,0,0.14,ciaz
9,ciaz,2015,7.45,8.92,42367,Diesel,Dealer,Manual,0,1.47,ciaz
21,ignis,2017,4.90,5.71,2400,Petrol,Dealer,Manual,0,0.81,ignis
...,...,...,...,...,...,...,...,...,...,...,...
285,jazz,2016,7.40,8.50,15059,Petrol,Dealer,Automatic,0,1.10,jazz
291,brio,2015,5.40,6.10,31427,Petrol,Dealer,Manual,0,0.70,brio
296,city,2016,9.50,11.60,33988,Diesel,Dealer,Manual,0,2.10,city
299,city,2017,11.50,12.50,9000,Diesel,Dealer,Manual,0,1.00,city
300,brio,2016,5.30,5.90,5464,Petrol,Dealer,Manual,0,0.60,brio

In [43]:
# 25. Possible reasons for high-priced car deals
high_selling_cars.describe()

,Year,Selling_Price,Present_Price,Kms_Driven,Owner,Depreciation
count,68.000000,68.000000,68.000000,68.000000,68.000000,68.000000
mean,2016.132353,6.326471,7.113485,16200.588235,0.014706,0.787015
std,1.035265,6.381173,7.158804,13968.411927,0.121268,0.942281
min,2013.000000,0.450000,0.510000,500.000000,0.000000,0.030000
25%,2016.000000,1.012500,1.182500,5000.000000,0.000000,0.127500
50%,2016.000000,5.250000,5.755000,14732.500000,0.000000,0.450000
75%,2017.000000,8.837500,9.400000,21511.500000,0.000000,1.100000
max,2018.000000,33.000000,36.230000,68000.000000,1.000000,4.640000

In [45]:
df.isnull().sum()

Car_Name         0
Year             0
Selling_Price    0
Present_Price    0
Kms_Driven       0
Fuel_Type        0
Seller_Type      0
Transmission     0
Owner            0
Depreciation     0
Brand            0
dtype: int64